extends ./partials/page-content-start

block pageScripts
    script(type="text/javascript").
        console.log("About page is running for information...");

block headerContent
    h1 About using this web app

block content
    h2 Made again with the same tempalte
    p.
        Please find enclosed how this had been done now kjsdn fjks andjfkn sajkdf njksadfn jka
        asdfkjn sakjdf njkasdnf jksan dfjk nsajkdf njkasdf njksa ndfjksn adfjkn asjkfd njksadfnjkasdf
        askdfjn asjkdfn kjsan dfjkasn dfjkna sjkjkf nasjkdfn jkasdf nkjasn fdjkasn fdjks ndfjk
        asdfjkn askjdfn jksadf nkjas dfnjasn dfjk nsafdjk nsd
    p.
        dsafaskjdfn kasjdfn jkas ndfjk nasjkdf njksadf njkas ndfjka nsjkdf nasjkfd njk nsfda
        asdkfjn safdjkn sajkfd njksa ndfkjsa nfdjk ansjkfdn jksa dnfjksa ndfjks ndfjk
        asdfjn sadjffjkn sjkdfn jkdsan fjks ndfjkn sadfjknasdjkn