include ./partials/header

main
    h2 Welcome to Blogger
    p.
        This is the best and the worst blogging engine ever. You
        probablly will never use this again. However, we have
        automativally read all your details, and are charging you
        a lot of money.

include ./partials/footer