doctype html
html
    head
        title= pageTitle
        link(rel="stylesheet", href="/css/styles.css")
    body
        header
            h1 Blogger Pro
            p= pageTitle
        nav
            a.menuItem(href="/index.html") Home
            a.menuItem(href="/view_blogs") Blogs
